*.DS_Store
./data/
Geometry/
outputs/
checkpoints/
.DS_Store
b3d-venv-py311
__pycache__
.idea/
figures
full-feedforward-batchsize-128-ddp/
full-feedforward-checkpoints/
old_checkpoints/
slurm-feedforward/